.main {
  position: fixed;
  inset: 0;
  isolation: isolate;
  z-index: -1;
}

.main:after {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10vmax);
  z-index: 1;
}

.blobWrapper {
  display: block;
  will-change: transform;
}

.blob {
  --size: 20vmax;
  --max-size: 20rem;

  height: var(--size);
  width: var(--size);

  max-height: var(--max-size);
  max-width: var(--max-size);

  display: block;

  background-color: rgb(0, 0, 0);
  border-radius: 100%;

  translate: -50% -50%;
  transition: background-color 300ms ease;
  animation: morph 20s infinite;

  opacity: 0.5;
  z-index: -2;
}

:global(.dark) .blob {
  background-color: rgb(255, 255, 255);
}

@keyframes morph {
  from {
    scale: 1 1;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    scale: 1 1;
  }
}
