.main {
  position: fixed;
  inset: 0;
  isolation: isolate;
  z-index: -1;
}

.main:after {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10vmax);
  z-index: 1;
}

.blob {
  --size: 20vmax;
  display: block;
  height: var(--size);
  width: var(--size);

  background-color: rgb(0, 0, 0);
  border-radius: 100%;

  position: fixed;
  translate: -50% -50%;

  animation: morph 20s infinite;
  z-index: -2;
  opacity: 0.5;
  transition: background-color 300ms ease;
}

:global(.dark) .blob {
  background-color: rgb(255, 255, 255);
}

@keyframes morph {
  from {
    scale: 1 1;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    scale: 1 1;
  }
}
